.vscode/settings.json
/bots
/Balloon - Copy
*.7z
*.zip
combatmessages/
details/
enemycastbar/
finishingmoves/
inventorycounter/
mobdb/
rdmtracker - old/
rdmtracker/
shadows/
synthrecipes/
treasurepool/
